body{
    background-color: var(--color5);
  

    
}
#displays{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}
.dis{
    height: calc(100vh - 88px);

}
#display1{
    margin: 3px;
    width: 500px;
    background-color: var(--color2);
    
}
#display2{
    margin: 3px;
    width:100%;
    background-color: var(--color0);
    margin-left: 1px;
    text-align: center;
    overflow: auto;
   
}
div{
    border-radius: 3px;
}
.bc{
    text-align: left;
    width:48%;
    padding: 10px;
    margin-left: 6px;
    margin-bottom: 6px;
    display: inline-block;
    color: var(--color5);
    transition: 300ms;
    cursor: pointer;
}
.view{
    height: 200px;
    background-size: 55px;
    background-position: center;
    border-left: solid 4px var(--color1);
    border-right: solid 4px var(--color1);
    border-top: solid 4px var(--color1);
    border-radius: 3px 3px 0 0;
}
.infos{
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    padding: 3px;
    border-radius:0 0  3px 3px ;
}
.name{
    color: var(--color2);
    font-weight: 600;
    margin-top: 3px;
    margin-left: 12px;
    width: fit-content;
}
.bc button{
    border: none;
    font-family: "Abel";
    font-size: 17px;
    font-weight: 600;
    padding:3px 23px;
    background-color: var(--color2);
    color: var(--color5);
    cursor: pointer;
    border-radius: 3px;
}
.bc button:hover{
    color: var(--color2);
    background-color: var(--color3);
}
/* inputs */
#inputs h3 {
    color: var(--color5);
    text-align: left;
    margin-left: 2%;
}
#inputs button{
    width: 95%;
    margin: 3px ;
    padding: 3px;
    outline: none;
    border: solid 2px var(--color5);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;  
}
#inputs{
    width: 100%;
    text-align: center;
}
#inputs input[type=range] {
    -webkit-appearance: none;
    height: 20px;
    appearance: none;
    position: relative;
    border-radius: 3px;
    background-color:var(--color1);
    outline: none;
    width: 95%;
    margin: 3px;
    border: solid 2px var(--color1);  
}
#opacity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px; 
    background:var(--color3) ;
    cursor: pointer; 
}
#publ{
	color: var(--color2);
	text-align: center;
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: var(--color3);
}
@media (max-width: 800px){
    #display2{
        width: 97vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        height: auto;
    }
    .bc{
        width: 49;
        height: 200px;
        margin: 2px;
    }
    .bc .view{
        height: 150px;
    }
    #displays{
        display: flex;
        flex-direction: column;
    }
    #display1{
        width: 97%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        padding: 3px;
    }
    #inputs{   
        align-self: center;
        align-items: center;
        margin-left: 50px;
    }
    #inputs input{
        width: 100%;
        text-align: center;
    }
    #inputs button{
        width: 100px;
    }
    #inputs h3 {
        color: var(--color5);
        text-align: center;
    }
    #publ{
        max-width: 100%;
        display: inline-block;
    }
    #inputs input[type=range] {
        width: 100%;
    }
}
/* popup */
#popup{
    background-color: var(--color1);
    width: 90%;
    max-width: 500px;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    color: var(--color5);
    box-shadow: 0px 0px 30px 2px var(--color2);
    transform: scale(0);
    transition:200ms;
}
#msg{
    color: var(--color3);
    font-size: 20px;
    width: fit-content;
    display: inline-block;
    margin-left: 2px;
}
#ttl{
    display: inline-block;
    line-height: 27px;
    width: 100%;
}
#pph{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}
#pph button{
    height: 27px;
    text-align: center;
    margin: auto;
    font-weight: 900;
    user-select:none;
    cursor: pointer;
    background-color: var(--color3);
    border: none;
    padding: 2px;
    border-radius: 3px;
    color: var(--color1);
}
#pph button:hover{
    background-color: var(--color4);
}
#texto{
    width: 100%;
    height: 400px;
    margin-top: 5px;
    resize: none;
    outline: none;
    background-color: var(--color2);
    color: var(--color5);
    border: none;
    padding: 3px;
}
#texto::selection{
    background-color: var(--color1);
}
#cokk{
    width: 100px;
    float: right;
    padding: 3px;
    background-color: var(--color2);
    border: none;
    border-radius: 3px;
    color: var(--color5);
    cursor: pointer;
    font-size: 20px;
    font-family: "Abel";
    transition: 200ms;
}
#cokk:active{
    transition: 100ms;
    transform: scale(0.90);


}
/* personalize scrollbar */
#texto::-webkit-scrollbar {
    width: 12px;   
        /* width of the entire scrollbar */
  }
  
#texto::-webkit-scrollbar-track {
    background: var(--color4);  
    border-radius: 3px;          /* color of the tracking area */
    cursor: default;
}
#texto::-webkit-scrollbar-thumb {
    background-color: var(--color1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--color4);  /* creates padding around scroll thumb */
    
}