.cont{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.display{
    display: inline-block;
    background-color: var(--color2);
    width: 40vw;
    height: calc(90vh - 30px);
    margin: 5px;
    
}
#display1{
    background: linear-gradient(260deg, rgba(44,105,141,1) 0%, rgba(39,38,67,1) 100%);
    }
#display2{
    user-select: none;
    -webkit-user-drag: none;
    overflow: auto;
}
#inputs{
    overflow-y: auto;
    border-radius: 3px ;
    background-color: var(--color2);
    flex: -1;
    /* Space between columns */
    margin: 8px 8px;
    height: 100%;
    /* Layout each column */
    display: flex;
    width: 95%;
    flex-direction: column;
    box-shadow: none;
    background-color: var(--color1);

}

#add{
    border-radius: 3px ;
    background-color: var(--color1);
    flex: -1;
    /* Space between columns */
    margin: 8px 8px;
    height: 30%;
    /* Layout each column */
    display: flex;
    width: 95%;
    flex-direction: column;

}

#display2::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;   

        
    } 
      
#display2::-webkit-scrollbar-thumb {   
    background-color: rgb(231, 248, 255);   
    border-radius: 4px;
    display: none;

}


#inputs::-webkit-scrollbar {
    width: 15px;
    border-radius: 3px;
    background-color: var(--color2);  
    border: solid 2px var(--color1); 
    border-radius:0  3px 3px  0 ;

} 
          
#inputs::-webkit-scrollbar-thumb {   
    background-color: var(--color3);   
    border-radius:3px;
    border-left: solid 2px var(--color1); 
    border-right: solid 2px var(--color1); 


}
.container {
    width: 100%;
    display: flex;
    margin-left: auto;
    text-align: center;
}

.container__column {
    border-radius: 3px ;
    background-color: var(--color2);
    flex: -1;
    /* Space between columns */
    margin: 8px 8px;
    height: 87vh;
    /* Layout each column */
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

#block{
    color: var(--color5);
    background-color: var(--color1);
    text-align: center;
    margin: auto;
    border:solid 1px var(--color3);
    border-radius: 3px;
    width: 50%;
    padding-top: 20.1%;
    padding-bottom: 20.1%;
    box-shadow: 0 15px 30px 0px #2726434b;
    
}
#text{
    background-color: var(--color1);
    width: 100%;
    resize: none;
    border: none;
    border-radius: 3px;
    outline: none;
    transform: scale(0.90);
    padding:5px;
    color: var(--color5);
    box-shadow: 0 15px 30px 0px #27264379;
    border:solid 1px var(--color3);
}

.input{
    border-radius: 3px;;
    margin-bottom: 3vh;
    background-color: var(--color3);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 15px 30px 0px #2726434b;
    background: linear-gradient(50deg, var(--color3) 52% , var(--color4) 52%);
}
.input input{
    border-radius: 3px;
    background-color:var(--color2);
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 70%;
    height: 5px;
    left: 4em;
    outline: none;
    margin-top: 25px;
    margin-bottom: 25px;
  
    
}
#leftTop{
    margin-top: 20px;
}
.input input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 15px; 
    background-color:var(--color1);
    cursor: pointer;
    border-radius: 3px;

}
.input input::-webkit-slider-thumb:hover{
    background-color:var(--color5);

    
}



.input input::-moz-range-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #585858;
    cursor: pointer;
    
}
/* ;;;;; */
#all{
    margin-top: 3vh;
}

.value{
    display: inline;
    background-color: var(--color2);
    border-radius: 3px;
    padding: 2px;
    font-size: 15px;
    margin: 0;
    color: var(--color5);
    float: right;
    margin-right: 5px;
    margin-top: -22px;
    padding-top: 25px;
    height: 72px;
    width: 50px;
  
    
}
   
.inst{
    margin-top: 3px;color: var(--color2);
    font-size: 17px;
    font-weight: 600;
}
#copy{
    border-radius: 3px;
    border: none;
    margin: 13px;
    width: 100%;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color1);
    background-color: var(--color3);
    font-family: Abel;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    box-shadow: 0 15px 30px 0px #2726434b;
    transition: 500ms;
}
#copy:hover{
    box-shadow: 0 5px 7px 0px #2726438c;
    background-color: var(--color1) ;
    color:var(--color3) ;
}
#copy:active{
    transform: scale(0.90);
}
#text::selection{
    background: var(--color2);
}

#maxConfig{
    background-color: var(--color1);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    color: var(--color2);
    padding:15px 3px;
    font-family: Abel;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(50deg, var(--color3) 52% , var(--color4) 52%);
    box-shadow: 0 15px 30px 0px #2726434b;
    border:solid 2px var(--color3);
}   
#maxConfig input{
    width: 100px;
    font-size: 20px;
    background-color: var(--color1);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 3px;
    font-family: Abel;
    color: var(--color4);
    box-shadow: 0 15px 30px 0px #2726434b;
}
#maxConfig button{
    font-size: 20px;
    padding: 3px 10px;
    font-family: Abel;
    font-weight: 600;
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 3px;
    box-shadow: 0 15px 30px 0px #2726434b;
    border: none;
}
#maxConfig button:hover{

    background-color: var(--color3);
    color: var(--color1);

}
/* publicidade */
#publ{
    width: 90%;
    background-color: var(--color3);
}